<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.study.category.mapper.CategoryMapper">

    <select id="selectChildList" resultType="com.backend.study.category.dto.CategoryDTO">
        SELECT id
             , parent_id
             , name
        FROM category
        WHERE parent_id = #{categoryId} AND use_yn = 'Y';
    </select>

    <select id="selectAll" resultType="com.backend.study.category.dto.CategoryDTO">
        SELECT id
             , parent_id
             , name
        FROM category
    </select>
</mapper>
