<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.study.counsel.mapper.CounselMapper">

    <insert id="insertCounsel" parameterType="com.backend.study.counsel.dto.CounselDTO">
        INSERT INTO counsel
            (category_id, charger_id, title, content, customer_name, customer_email, status, creator_id, modifier_id, created_at, modified_at)
        VALUES
            (#{id}, "NOT ASSIGNED", #{title}, #{content}, #{customerName},#{customerEmail},"UNSOLVED",#{creatorId},#{modifierId} , now(), now())
    </insert>

    <insert id="insertCounselHistory" parameterType="com.backend.study.counsel.dto.CounselDTO">
        <selectKey resultType="long" keyProperty="id" order="BEFORE">
            SELECT MAX(id)+1 FROM counsel
        </selectKey>
        INSERT INTO counsel_history
            (counsel_id, sequence, category_id, title, content, requestor_email, charger_id, status, creator_id, created_at)
        VALUES
            (#{id}, #{id} + 1,
             #{categoryId},#{title},#{content},#{customerEmail},"NOT ASSIGNED","UNSOLVED", #{creatorId},
            (SELECT modified_at FROM counsel c WHERE c.id = #{id}))
    </insert>


</mapper>
