<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.study.counsel.mapper.CounselMapper">

    <insert id="insert" parameterType="com.backend.study.counsel.model.CounselDTO" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO counsel
            (category_id, title, content, customer_name, customer_email, creator_id, modifier_id, created_at, modified_at)
        VALUES
            (#{categoryId}, #{title}, #{content}, #{customerName},#{customerEmail},#{creatorId},#{modifierId} , now(), now())
    </insert>

    <insert id="insertHistory">
        INSERT INTO counsel_history
            (counsel_id, sequence, category_id, title, content, requestor_email, creator_id, created_at)
        SELECT
            #{id}, (SELECT COUNT(*) FROM counsel_history hist WHERE hist.counsel_id = #{id}) + 1,
            category_id, title, content, customer_email, creator_id, modified_at
        FROM counsel
        WHERE
            id = #{id}
    </insert>

    <select id="selectCharger" resultType="String">
        SELECT user_id, COUNT(category_id)
        FROM charger
        WHERE user_id IN
              (
                  SELECT id
                  FROM user
                  WHERE status = "POSSIBLE" AND role = "COUNSELOR"
              )
        GROUP BY user_id
        HAVING category_id = #{category_id}
        ORDER BY COUNT(category_id), user_id
        LIMIT 1

    </select>

    <update id="updateCharger" parameterType="com.backend.study.counsel.model.CounselDTO">
        UPDATE counsel
        SET
            charger_id = #{user_id}
        where
            id = #{id}
    </update>

    <select id="selectNoChargerCounsels" resultType="Integer">
        SELECT COUNT(*)
        FROM counsel
        WHERE charger_id IS NULL AND category_id = #{category_id}
    </select>

</mapper>
