<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.study.user.mapper.UserMapper">

    <insert id="insert" parameterType="com.backend.study.user.dto.UserDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
            (id, name, password, role, use_yn, creator_id, modifier_id, created_at, modified_at)
        VALUES
            (#{id}, #{name}, #{password},'COUNSELOR', 'Y', #{creatorId}, #{modifierId}, now(), now())
    </insert>

    <insert id="insertHistory" parameterType="com.backend.study.user.dto.UserDTO">
        INSERT INTO user_history
        (user_id, sequence, name, password, role, status, use_yn, creator_id, created_at)
        SELECT
            #{id}, (SELECT COUNT(*) FROM user_history userHist WHERE userHist.user_id = #{id}) + 1,
            name, password, role, status, use_yn, creator_id, modified_at
        FROM user
        WHERE
            id = #{id}
    </insert>

</mapper>

