<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.study.mapper.UserMapper">
    <select id="findLowCategory" resultType="com.backend.study.dto.CategoryDTO">
        select * from category where parent_id = #{pickParentId} and use_yn = 'y'
    </select>
    <select id="lookCategory" resultType="com.backend.study.dto.CategoryDTO">
        with recursive cte as (
        select *
        from category
        where name = 'root'
        union all
        select f.*
        from category f
        inner join cte on f.parent_id = cte.id
        )
        select *
        from cte;
    </select>
    <insert id="registerCounsel">
        insert into counsel (category_id,created_at,modified_at) values (#{pickCategoryId},now(),now())
    </insert>
</mapper>
